[Unit]
Description=blueHubCloud Horizon
After=network.target

[Service]
Type=simple
User=__APP_USER__
Group=__APP_USER__
WorkingDirectory=__APP_PATH__
ExecStart=__APP_PATH__/deploy/bin/run-horizon.sh
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=3600

[Install]
WantedBy=multi-user.target
